html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100%;
}

body {
    /* background-color: #f5f3ff; */
    background: rgb(245,243,255);
    background: linear-gradient(90deg, rgba(245,243,255,1) 25%, rgba(184,175,255,1) 60%, rgba(90,74,227,1) 90%);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

#main-container {
  text-align: center;
  width: 100%;
}

#info {
  width: 650px;
  display: inline-block;
  text-align: left;
  padding-left: 5%;
}

#logo {
  width: 300px;
}

h1 {
  font-size: 2.25rem;
}

#description {
  font-size: 1rem;
  line-height: 1.5rem;
}

#current-book {
  cursor: pointer;
}




/* Start signup */
h2 {
  font-size: 1.25rem;
}

#alert-on-list {
  font-size: 1rem;
  padding: 15px;
  border-width: 1px;
  border-color: rgb(225, 0, 0);
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(255, 200, 200);
  color: rgb(225, 0, 0);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

#signup p {
  font-size: 0.8rem;
}

#env-icon {
  position: absolute;
  top: 625px;
  left: 515px;
}

#email-input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
}

#email-input-button {
  width: 70px;
  height: 40px;
  border-radius: 5px;
  border: none;

  color: white;
  background-color: #5a4ae3;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);

  font-weight: bold;
}

#email-input-button:hover {
  background-color: #3b3099;
  cursor: pointer;
}

#email-input-button:focus {
  background-color: #3b3099;
  cursor: pointer;
  transform: scale(0.95);
}
/* End signup */




#graphics {
  width: 25%;
  padding-left: 10%;
  display: inline-block;
}

/* Begin Swiper */
.swiper {
  width: 500px;
}

.swiper-slide {
  text-align: center;
  /* width: 10%; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
}

.swiper-pagination {
  height: 0.75%;
}
/* End Swiper */


/* Start Secondary Container */
#secondary-container {
  width: 100%;
}

#library-link {
  cursor: pointer;
}

.socials {
  width: 40px;
  cursor: pointer;
}

.socials:hover {
  transform: scale(1.1);
}

.socials:focus {
  transform: scale(1.1);
}

/* MQ 1 */
@media screen and (max-width: 1450px) {
  #info {
    width: 600px;
  }

  #graphics {
    width: 450px;
    padding-left: 5%;
  }

  .swiper {
    width: 100%;
  }
}

/* MQ 2 */
@media screen and (max-width: 1275px) {
  #info {
    width: 500px;
  }

  #logo {
    width: 250px;
  }

  h1 {
    font-size: 2rem;
  }
  
  #graphics {
    padding-left: 0%;
  }
}

/* MQ 3 */
@media screen and (max-width: 1004px) {
  #info {
    width: 450px;
  }

  h1 {
    font-size: 1.75rem;
  }

  #description {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  #email-input {
    width: 250px;
  }

  #signup p {
    font-size: 0.77rem;
  }

  #secondary-container {
    font-size: 0.9rem;
  }

  #graphics {
    width: 400px;
  }
}

/* MQ 4 */
@media screen and (max-width: 899px) {
  body {
    display: flex;
    background: linear-gradient(180deg, rgba(245,243,255,1) 25%, rgba(184,175,255,1) 60%, rgba(90,74,227,1) 90%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #info {
    width: 750px;
    padding-top: 3%;
    padding-left: 0%;
  }

  #logo-div {
    width: 100%;
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  #signup {
    padding-top: 5px;
    text-align: center;
  }

  #form-content {
    display: inline-block;
    text-align: left;
  }

  #email-input {
    width: 350px;
  }

  #graphics {
    width: 450px;
    padding-top: 50px;
    padding-bottom: 75px;
  }

  #secondary-container p {
    padding-top: 15px;
    text-align: center;
  }

  #socials-div {
    text-align: center;
  }
}

/* MQ 5 */
@media screen and (max-width: 800px) {
  #info {
    width: 90%;
  }

  #graphics {
    width: 400px;
  }
}

/* MQ 6 */
@media screen and (max-width: 550px) {
  #form-content {
    width: 100%;
    text-align: center;
  }

  #email-input {
    width: 75%;
  }

  #email-input-button {
    width: 77.5%;
    margin-top: 10px;
    /* height: 40px; */
    border-radius: 5px;
    border: none;
  }

  #graphics {
    width: 400px;
  }
}

/* MQ 7 */
@media screen and (max-width: 400px) {

  #email-input {
    width: 85%;
  }

  #email-input-button {
    width: 88.5%;
    margin-top: 10px;
    /* height: 40px; */
    border-radius: 5px;
    border: none;
  }

  #graphics {
    width: 320px;
  }

  #description {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  #signup p {
    font-size: 0.77rem;
  }

  #secondary-container {
    font-size: 0.9rem;
  }
}

/* MQ 7 */
@media screen and (max-width: 320px) {
  #graphics {
    width: 275px;
  }
}



/* Test for widescreen responsiveness */