body {
    background: linear-gradient(180deg, rgba(245,243,255,1) 25%, rgba(184,175,255,1) 60%, rgba(90,74,227,1) 90%);
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

/* Start navbar */
#nav {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 3%;
}

#logo-link {
    display: flex;
    justify-self: center;
    align-items: center;
    padding-top: 5px;
    padding-left: 2%;
}

#logo {
    width: 60px;
    align-self: center;
    cursor: pointer;
    transition: 0.5s;
}

#logo:hover {
    transform: scale(1.1);
}

#h1-div {
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #5a4ae3;
}

#user {
    padding-right: 2%;
    padding-top: 5px
}

.fa-solid {
    display: inline-block;
    color: #5a4ae3;
}

#user p {
    display: inline-block;
    font-weight: bold;
}
/* End navbar */


/* Start heading */
#heading-wrapper {
    display: flex;
    justify-content: center;

    width: 100vw;
    padding-top: 5rem;
}

#heading {
    text-align: center;
    line-height: 1.25rem;
    width: 25rem;
}

#heading p {
    text-align: left;
}
/* End heading */


/* Start book display */
.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.books img {
    position: relative;
    width: 200px;
    max-height: 90%;
    margin: 2%;
    /* margin-top: 50px; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    cursor: pointer;

    transition: all .2s ease-in-out;
}

.books img:hover {
    transform: scale(1.1);
}

.coming-soon {
    filter: brightness(50%);
}
/* End book display */


/* Start popups */

.form-popups {
    display: none;
    width: 30rem;
    background-color: #f5f3ff;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    animation: slide-in 1s;
    line-height: 2rem;
}

@keyframes slide-in {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0vw);
      }
}

.popup-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    text-align: center;
    width: 100%;
}

.popups {
    display: none;
    background-color: #f5f3ff;
    width: 25rem;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    animation: zoom-in 0.3s;
    line-height: 2rem;
}

.popups p {
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.5rem;
}

@keyframes zoom-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.close-container {
    text-align: right;
    padding-right: 2%;
    font-weight: bold;
}

.close {
    cursor: pointer;
}

h2 {
    color: #5a4ae3;
    font-size: 1rem;
    margin: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.chapters {
    text-align: left;
    margin: 0%;
    padding-bottom: 5%;
}
/* End popups */


/* MQ 1 */
@media screen and (max-width: 600px) {
    #logo {
        width: 50px;
    }

    #user {
        font-size: 0.75rem;
        padding-top: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    .books img {
        width: 175px;
    }
  }

  /* MQ 2 */
@media screen and (max-width: 450px) {
    .books img {
        width: 150px;
    }
  }

    /* MQ 3 */
@media screen and (max-width: 350px) {
    .books img {
        width: 125px;
    }
  }