body {
    /* background-color: #f5f3ff; */
    /* background: rgb(245,243,255); */
    background: linear-gradient(180deg, rgba(245,243,255,1) 25%, rgba(184,175,255,1) 60%, rgba(90,74,227,1) 90%);
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

/* Start navbar */
#nav {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

#logo-link {
    display: flex;
    justify-self: center;
    align-items: center;
    padding-top: 5px;
    padding-left: 2%;
}

#logo {
    width: 60px;
    align-self: center;
    cursor: pointer;
    transition: 0.5s;
}

#logo:hover {
    transform: scale(1.1);
}

h1 {
    color: #5a4ae3;
}
/* End navbar */


/* Start heading */
#heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 10px;
    background-color: #5a4ae3;
    color: white;
}

#heading {
    line-height: 1.25rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading p {
    text-align: left;
    font-size: 1.1rem;
}

#validate-subscriber {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.alert-container {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.alert-unsubscribed {
    width: 485px;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 10px;
    border-width: 1px;
    border-color: rgb(225, 0, 0);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(255, 200, 200);
    color: rgb(225, 0, 0);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.email-input {
    width: 425px;
    height: 40px;
    border-radius: 5px;
    border: none;
    /* background-color: #f5f3ff; */
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
    padding-left: 1rem;
}

.email-input-button {
    width: 70px;
    height: 40px;
    margin-left: 5px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    color: #5a4ae3;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.email-input-button:hover {
    background-color: #e9e6ff;
}

.email-input-button:active {
    transform: scale(0.98);
}
/* End heading */


/* Start book display */

#book-container {
    padding-bottom: 10%;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.books img {
    position: relative;
    width: 200px;
    max-height: 90%;
    margin: 2%;
    /* margin-top: 50px; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    cursor: pointer;

    transition: all .2s ease-in-out;
}

.books img:hover {
    transform: scale(1.1);
}

.coming-soon {
    filter: brightness(50%);
}
/* End book display */


/* Start popups */
.popup-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    text-align: center;
    width: 100%;
}

.popups {
    display: none;
    background-color: #f5f3ff;
    width: 25rem;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    animation: zoom-in 0.3s;
    line-height: 2rem;
}

.popups p {
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.5rem;
}

@keyframes zoom-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.close-container {
    text-align: right;
    padding-right: 2%;
    font-weight: bold;
}

.close {
    cursor: pointer;
}

h2 {
    color: #5a4ae3;
    font-size: 1rem;
    margin: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.chapters {
    text-align: left;
    margin: 0%;
    padding-bottom: 5%;
}
/* End popups */




/* MQ 1 */
@media screen and (max-width: 600px) {
    #heading-wrapper {
        width: 100vw;
    }
    
    #heading {
        line-height: 1.25rem;
        width: 85%;
    }

    .alert-container {
        width: 100vw;
    }
    
    .alert-unsubscribed {
        width: 82%;
        padding-bottom: 15px;
    }

    #validate-subscriber {
        width: 100%;
    }

    .email-input {
        width: 70%;
    }

    #logo {
        width: 50px;
    }

    .books img {
        width: 175px;
    }
  }

  /* MQ 2 */
@media screen and (max-width: 450px) {
    .alert-unsubscribed {
        width: 77%;
        padding-bottom: 15px;
    }
    .email-input {
        width: 80%;
    }

    .email-input-button {
        width: 84%;
        margin-top: 10px;
        margin-right: 3px;
        height: 40px;
        border-radius: 5px;
        
    }

    .books img {
        width: 150px;
    }
  }

    /* MQ 3 */
@media screen and (max-width: 350px) {
    .books img {
        width: 125px;
    }
  }