/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

/* Add a button to toggle purple/white background */

body {
	/* flex-direction: column; */
	font-family: 'Source Sans Pro', sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
	border: none;
}

.logo {
	background-color: white;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	border: none;
	height: auto;
	/* margin-left: 25vw; */
	/* border: 2px solid white; */
}

.img-logo {
	width: 12%;
	height: auto;
	/* cursor: pointer; */
	/* border: 2px solid white; */
}

.heads {
	color: #5A4AE3;
	text-align: center;
	font-size: 1.5rem;
	padding-top: 2%;
}

h1 {
	text-align: center;
	width: 100vw;
	height: auto;
	margin: 0;
	/* margin-left: 25vw; */
	color: white;
	font-size: 3em;
	padding-top: 3%;
	padding-bottom: 2%;
	/* border: 2px solid white; */
	background-color: #5A4AE3;
}

.form {
	background-color: #5A4AE3;
}

/* Begin hovering book display */
.featured-books {
	width:100vw;
	height: auto;
	margin: 0;
	border: none;
	padding-bottom: 2%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	/* background-color: white; */
	/* border: 2px solid white; */
	background-color: #5A4AE3;
}

.books {
	width: 10%;
	margin: 0% 1%;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, .3);
	cursor: pointer;
	padding: 0;
	border: none;
	/* background-color: #5A4AE3; */
	background:none
}

.images {
	display: block;
	width: 100%;
	border-radius: 0.5vh;
	transition-duration: 1s;
	margin: 0;
	padding: 0;
}

.images:hover {
	transform:scale(1.2);
	z-index: 2;
	transition-duration: 1s;
}

.books input:checked + .images {
	transform:scale(1.2);
	z-index: 2;
	transition-duration: 0s;
	box-shadow: 0 0 20px 2px white;
}

/* End hovering book display */

/* Begin sign-up | Using https://codepen.io/callmenick/pen/OxpKNZ */
.signup {
	text-align: center;
	color: white;
	background-color: #5A4AE3;
	width: 100vw;
	/* margin-left: 20vw; */
	/* border-radius: 200px; */
	border: none;
	padding-bottom: 3vh;
	margin: 0;
}

.input-email {
	width: 30%;
	height: 3vh;
	border-radius: 0.5vh;
	box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .3);;
	border: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
}

.input-email:focus {
	box-shadow: 0 0 20px 2px white;
	border: 1px solid white;
	outline: none;
}

/* Start of submit email button */
.submit-email {
	height: 3.30vh;
	color:white;
	font-weight: bold;
	background-color: #5A4AE3;
	/* border: 1px solid white; */
	border: none;
	border-radius: 0.5vh;
	cursor: pointer;
	box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .3);
	font-family: 'Source Sans Pro', sans-serif;
}

.submit-email:hover {
}

.submit-email:active {
	transform: perspective(50px) translateZ(-2px);
}

.instructions {
	width: 75vw;
	margin-left: 12.5vw;
	font-size: 1.5rem;
	text-align: center;
	color: #5A4AE3;
	padding-bottom: 1.5vh;
}

.overview {
	width: 75vw;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-left: 12.5vw;
	padding: 1%;
	font-size: 1.5rem;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.friends1 {
	background-color: #5A4AE3;
	color: white;
	/* border-top-left-radius: 2vh;
	border-top-right-radius: 2vh; */
	border-top-left-radius: 2vh;
	border-bottom-left-radius: 2vh;
	padding: 2%;
	width: 50%;
	box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .3);;
}

.shoedog1 {
	background-color: #5A4AE3;
	color: white;
	/* border-top-left-radius: 2vh;
	border-top-right-radius: 2vh; */
	border-top-left-radius: 2vh;
	border-bottom-left-radius: 2vh;
	padding: 2%;
	width: 50%;
	box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .3);;
}

.thinking1 {
	background-color: #5A4AE3;
	color: white;
	/* border-top-left-radius: 2vh;
	border-top-right-radius: 2vh; */
	border-top-left-radius: 2vh;
	border-bottom-left-radius: 2vh;
	padding: 2%;
	width: 50%;
	box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .3);;
}

.friends2 {
	border: 2px solid #5A4AE3;
	color: #5A4AE3;
	/* border-bottom-left-radius: 2vh;
	border-bottom-right-radius: 2vh; */
	border-top-right-radius: 2vh;
	border-bottom-right-radius: 2vh;
	padding: 2%;
	width: 50%;
	box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .3);;
}

.shoedog2 {
	border: 2px solid #5A4AE3;
	color: #5A4AE3;
	/* border-bottom-left-radius: 2vh;
	border-bottom-right-radius: 2vh; */
	border-top-right-radius: 2vh;
	border-bottom-right-radius: 2vh;
	padding: 2%;
	width: 50%;
	box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .3);;
}

.thinking2 {
	border: 2px solid #5A4AE3;
	color: #5A4AE3;
	/* border-bottom-left-radius: 2vh;
	border-bottom-right-radius: 2vh; */
	border-top-right-radius: 2vh;
	border-bottom-right-radius: 2vh;
	padding: 2%;
	width: 50%;
	box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .3);;
}

.book-title {
	flex-basis: 100%;
}



/* Begin mobile design */

@media only screen and (max-width: 480px) {

	.img-logo {
		width: 40%;
	}

	.heads {
		width: 75%;
		margin-left: 12.5vw;
		font-size: 0.80rem;
	}

	h1 {
		font-size: 2em;
	}

	.books {
		width: 40%;
	}

	.images {
		padding: 2%;
		border: 1px solid white;
	}

	.title {
		font-size: 1.25em;
		width: 80%;
		margin-left: 10vw;
	}

	.input-email {
		width: 60%;
	}
	
	.signup {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
	}

	.overview {
		padding-top: 5%;
		font-size: 1em;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.friends1 { 
		width: 100%;
		border-bottom-left-radius: 0;
		border-top-right-radius: 2vh;
	}

	.friends2 {
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-left-radius: 2vh;
	}

	.shoedog1 { 
		width: 100%;
		border-bottom-left-radius: 0;
		border-top-right-radius: 2vh;
	}

	.shoedog2 {
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-left-radius: 2vh;
	}

	.thinking1 { 
		width: 100%;
		border-bottom-left-radius: 0;
		border-top-right-radius: 2vh;
	}

	.thinking2 {
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-left-radius: 2vh;
	}

	.instructions {
		padding-top: 2%;
		font-size: 1em;
	}
}

@media only screen and (max-width: 960px) and (min-width: 481px) {
	.img-logo {
		width: 30%;
	}

	.heads {
		width: 80%;
		margin-left: 10%;
		font-size: 1.25rem;
	}

	h1 {
		font-size: 2.75rem;
	}

	.books {
		width: 20%;
	}


	.input-email {
		width: 60%;
	}

	.overview {
		padding-top: 5%;
		font-size: 1.25em;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.friends1 { 
		width: 100%;
		border-bottom-left-radius: 0;
		border-top-right-radius: 2vh;
	}

	.friends2 {
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-left-radius: 2vh;
	}

	.shoedog1 { 
		width: 100%;
		border-bottom-left-radius: 0;
		border-top-right-radius: 2vh;
	}

	.shoedog2 {
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-left-radius: 2vh;
	}

	.thinking1 { 
		width: 100%;
		border-bottom-left-radius: 0;
		border-top-right-radius: 2vh;
	}

	.thinking2 {
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-left-radius: 2vh;
	}

	.signup {
		width: 80%; 
		font-size: 1rem;
		margin-left: 10%;
	}

	.instructions { 
		font-size: 1.25em;
	}
}