<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1"/> <!-- Formats accordingly for whatever device is being used -->
		<meta name="description" content="Start every morning by learning the best lessons from the most influential books of our time. Simply choose a book, enter your email address, and then you'll recieve one email every morning that contains the important information from one to three chapters of the book, until it's finished.">
		<link rel="stylesheet" type="text/css" href="index.css">
		<script src="https://kit.fontawesome.com/107763de0d.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> <!-- This loads the most recent JQuery library, allowing my scrolling script to work -->
		<script src="home.js"></script>

		<!-- For SwiperJS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
		<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

        <link rel="icon" href="MCLogoIcon.png"> <!-- Puts Morning Chapter logo in the tab -->
		<title>Morning Chapter</title>
	</head>
	<body>
		<!-- Begin welcome popup -->
		<% if (sub.length > 0) { %>
		<div id="welcome-container">
			<div id="welcome">
				<div class="pyro">
					<div class="before"></div>
					<div class="after"></div>
				</div>
				<div id="close-container">
					<span id="close-button" onclick="closeWelcome()">&times;</span>
				</div>
				<div id="welcome-heading">
					<img src="welcome-high-five.gif" alt="Welcome Gif" id="gif">
					<h3>Welcome to Morning Chapter!</h3>
					<h4>Verify your email address or you will not be subscribed</h4>

					<p>
						We're glad you've decided to join us! <b>Before you can start recieving our tri-weekly emails or browsing our library of free book summaries,
						we need you to verify your email address.</b> To do this, check your inbox for a verification email sent by us. If you can't find us in your inbox,
						then check your promotions, spam, or junk folder, as certain email applications like to banish automated emails (like ours) to there.
						After you've done that, you're good to go! See you in your inbox soon.
						<br>
						<br>
					</p>
				</div>
			</div>
		</div>
		<% } %>
		<!-- End welcome popup -->

		<div id="center-wrapper">
			<div id="main-container">
				<div id="info">
					<div id="logo-div">
						<img src="LogoPurple.png" alt="Morning Chapter" id="logo">
					</div>
					<h1>
						<img src="books-emoji.png" alt="Books" class="emoji">
						<img src="brain-emoji.png" alt="Brain" class="emoji">
						The tri-weekly email list that makes books easy to digest.
					</h1>
					<p id="description">
						Everyone knows they need to read more, but no one feels like they have the time. Morning Chapter solves this problem
						by summarizing one or more chapters of our <b><a id="current-book" href="https://www.amazon.com/gp/product/0804139296/ref=as_li_qf_sp_asin_il_tl?tag=zto-20&ie=UTF8&linkId=K5HJDPUEXGTSURYE&geniuslink=true" target="_blank">current book</a></b> in every email, which is easily digestable in only 5 minutes.
						<br>
						<br>
						Better yet, every subscriber has unlimited access to our library of previous book summaries.
						<br>
						<br>
						We typically cover books on topics such as personal development, finance and investing, business and entrepreneurship, and even technology.
						Of course, we're always open to suggestions from subscribers as well.
						<br>
						<br>
						And the best part? <b>It's 100% free.</b>
					</p>

					

					<!-- Start login for library access -->  

					<form action="/" method="POST" id="signup">
						<div id="form-content">
							<% if (message.length == 0) { %>
								<h2>Sign up now to make learning easier.</h2>
							<% } %>
			
							<% if (message.length > 0) { %>
								<h2 id="alert-on-list"><%= message %></h2>
							<% } %>

							<!-- <i class="fa-regular fa-envelope" id="env-icon"></i> -->
							<input type="email" name="email" id="email-input" placeholder="Enter your email address here" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
							<input type="submit" value="Try it out" id="email-input-button">
							<p>Give it a shot. You can always unsubscribe later.</p>
						</div>
					</form>
					<!-- End validation -->

					<div id="secondary-container">
						<p><b>Are you already a subscriber?</b> Then check out your library of free book summaries <b><a id="library-link" href="/library-restricted">here</a></b>.</p>
						<div id="socials-div">
							<a href="https://www.instagram.com/morning.chapter/" target="_blank"><img class="socials" src="instagram.svg" alt="Instagram"></a>
							<a href="https://www.tiktok.com/@morningchapter?_t=8Z8U0ponBuw&_r=1" target="_blank"><img class="socials" src="tiktok.svg" alt="TikTok"></a>
							<a href="https://twitter.com/Morning_Chapter" target="_blank"><img class="socials" src="twitter.svg" alt="Twitter"></a>
						</div>
					</div>
				</div>

				<div id="graphics">
					<div class="swiper mySwiper">
						<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="atomic-email.png" alt="Example Email 1"></div>
						<div class="swiper-slide"><img src="ETH.png" alt="Example Email 2"></div>
						<div class="swiper-slide"><img src="Tokens.png" alt="Example Email 3"></div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
		
			</div>
		</div>
		<!-- Script for the swiper -->
		<script>
			var swiper = new Swiper(".mySwiper", {
			  pagination: {
				el: ".swiper-pagination",
			  },
			});
		  </script>
		<!-- End swiper script -->
	</body>
</html>


<!-- Socials neumoorphism from https://codepen.io/barhatsor/pen/YzwxaQV

<div id="socials-div">
	<div id="socials" onclick="this.classList.toggle('open')">
		<div class="socials-button" onclick="window.location.href='https://www.instagram.com/morning.chapter/';"></div>
		<div class="socials-button" onclick="window.location.href='https://www.tiktok.com/@morningchapter?_t=8Z8U0ponBuw&_r=1';"></div>
		<div class="socials-button" onclick="window.location.href='https://twitter.com/Morning_Chapter';"></div>
	</div>
</div>

 -->